In [2]:
dropQuery = "drop table INSTRUCTOR"
dropStmt = ibm_db.exec_immediate(conn,dropQuery)

In [1]:
import ibm_db

nand_driver = "{IBM DB2 ODBC DRIVER}"
nand_database = "BLUDB"        
nand_uid = "hln09807"                 
nand_pwd = "l1jd9mx3m4z3x6^h" 
nand_hostname = "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net"        
nand_port = "50000"                   
nand_protocol = "TCPIP"           



#Create database connection
nand = (
    "DRIVER={0};"
    "DATABASE={1};"
    "UID={2};"
    "PWD={3};"
    "HOSTNAME={4};"
    "PORT={5};"
    "PROTOCOL={6};"
      ).format(nand_driver, nand_database, nand_uid, nand_pwd, nand_hostname, nand_port, nand_protocol)

try:
    conn = ibm_db.connect(nand , "" , "")
    print("Connected to database: ", nand_database, "as user: ", nand_uid, "on host: ", nand_hostname)
    
except:
    print("Unable to connect: ", ibm_db.conn_errormsg())

Connected to database:  BLUDB as user:  hln09807 on host:  dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net

In [3]:
createQuery = "Create Table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME varchar(20) , LNAME varchar(20) , CITY varchar(20) , CCODE char(2))"
createStmt = ibm_db.exec_immediate(conn , createQuery)

In [4]:
insertQuery = "Insert into INSTRUCTOR values (1,'A','B1','LKO','LK'),(2,'C','D','DEL','DL'),(3,'A1','B2','LKO1','LM'),(4,'C1','D1','DEL1','DJ')"
ibm_db.exec_immediate(conn , insertQuery)

In [30]:
selectStmt = ibm_db.exec_immediate(conn , "select * from INSTRUCTOR")
dictionary=ibm_db.fetch_assoc(selectStmt)
while dictionary != False:
    print("ID: ",dictionary["ID"])
    print("FNAME: ",dictionary["FNAME"])
    print("CITY: ",dictionary["CITY"])
    dictionary = ibm_db.fetch_assoc(selectStmt)

ID:  1
FNAME:  A
CITY:  LKO
ID:  2
FNAME:  C
CITY:  DEL
ID:  3
FNAME:  A1
CITY:  LKO1
ID:  4
FNAME:  C1
CITY:  DEL1

In [39]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
selectStmt = ibm_db.exec_immediate(conn , "select * from INSTRUCTOR")
while ibm_db.fetch_row(selectStmt) != False:
    print(" ID:" ,  ibm_db.result(selectStmt,"ID"))
    print(" FNAME:" ,  ibm_db.result(selectStmt,1))

 ID: 1
 FNAME: A
 ID: 2
 FNAME: Nandini
 ID: 3
 FNAME: A1
 ID: 4
 FNAME: C1

In [37]:
updateStmt = ibm_db.exec_immediate(conn , "update INSTRUCTOR set FNAME = 'Nandini' where ID = 2 ")

In [42]:
import pandas
import ibm_db_dbi

pdconn = ibm_db_dbi.Connection(conn)
pdf = pandas.read_sql("Select * from Instructor" , pdconn)
pdf

   ID    FNAME LNAME  CITY CCODE
0   1        A    B1   LKO    LK
1   2  Nandini     D   DEL    DL
2   3       A1    B2  LKO1    LM
3   4       C1    D1  DEL1    DJ

In [43]:
pdf.FNAME[2]

'A1'

In [44]:
pdf.shape

(4, 5)

In [45]:
ibm_db.close(conn)

True